NEXT_PUBLIC_SUPABASE_URL=https://iuyrycgnwlwoisgnyzuh.supabase.co
SUPABASE_SECRET_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml1eXJ5Y2dud2x3b2lzZ255enVoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NjkxODUyOCwiZXhwIjoyMTAyNDk0NTI4fQ.otW0QNuv0cvgs7BfzURUXQ-3H16B3Jdl_rOnJ8dK6Do
INGEST_SECRET=5f68930449f2aa0d402ebf0904a9f7e31402782e1cc0512f419a16384a1863c1